<template>
  <div class="main-body">
    <b-alert
      class="login-alert"
      v-model="errorAlert"
      variant="danger"
      dismissible
    >
      <b>{{ errorMessage }}</b>
    </b-alert>
    <b-alert
      class="login-alert"
      variant="success"
      dismissible
      v-model="successAlert"
      >User created successfuly</b-alert
    >
    <div class="login-body">
      <h1 class="login-title">Register</h1>
      <b-form @submit.stop.prevent="onSubmit">
        <b-form-group
          id="user-input-group-1"
          label="User"
          label-for="user-input-1"
        >
          <b-form-input
            id="user-input-1"
            name="user-input-1"
            type="text"
            v-model="$v.form.user.$model"
            :state="validateUser('user')"
            aria-describedby="user-feedback"
          ></b-form-input>

          <b-form-invalid-feedback id="user-feedback"
            >required field</b-form-invalid-feedback
          >
        </b-form-group>
        <b-form-group
          id="email-input-group-1"
          label="Email"
          label-for="email-input-1"
        >
          <b-form-input
            id="email-input-1"
            type="email"
            name="email-input-1"
            v-model="$v.form.email.$model"
            :state="validateEmail('email')"
            aria-describedby="email-feedback"
          ></b-form-input>

          <b-form-invalid-feedback id="email-feedback"
            >enter vali email address</b-form-invalid-feedback
          >
        </b-form-group>
        <b-form-group
          id="password-input-group-1"
          label="Password"
          label-for="password-input-1"
        >
          <b-form-input
            id="password-input-1"
            type="password"
            name="password-input-1"
            v-model="$v.form.password.$model"
            :state="validatePassword('password')"
            aria-describedby="password-feedback"
          ></b-form-input>

          <b-form-invalid-feedback id="password-feedback"
            >Required field (min length 8 characters)</b-form-invalid-feedback
          >
        </b-form-group>
        <b-button
          class="submit-button"
          variant="primary"
          type="submit"
          :disabled="disabledButton || $v.form.$invalid"
        >
          Register
          <b-spinner v-if="loadingButton" small type="grow"></b-spinner>
        </b-button>
      </b-form>
      <div class="subtitle-links">
        <span>Already Registered?</span>
        <router-link class="register-link" to="/login">Login</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, email } from "vuelidate/lib/validators";
import UserDataProvider from "../../services/user";
import { setToken } from "../../services/jwt";
import API from "../../services/api";

export default {
  mixins: [validationMixin],
  data() {
    return {
      form: {
        user: null,
        email: null,
        password: null,
      },
      errorAlert: false,
      successAlert: false,
      errorMessage: "",
      loadingButton: false,
      disabledButton: false,
    };
  },
  validations: {
    form: {
      user: {
        required,
      },
      email: {
        email,
        required,
      },
      password: {
        required,
        minLength: minLength(8),
      },
    },
  },
  computed: {},
  methods: {
    resetStateFlags() {
      this.errorAlert = false;
      this.successAlert = false;
      this.loadingButton = false;
      this.disabledButton = false;
    },
    validateUser(user) {
      const { $dirty, $error } = this.$v.form[user];
      return $dirty ? !$error : null;
    },
    validateEmail(email) {
      const { $dirty, $error } = this.$v.form[email];
      return $dirty ? !$error : null;
    },
    validatePassword(password) {
      const { $dirty, $error } = this.$v.form[password];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form = {
        user: null,
        email: null,
        password: null,
      };

      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      this.resetStateFlags();
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this.loadingButton = true;
      this.disabledButton = true;
      UserDataProvider.create({
        username: this.form.user,
        email: this.form.email,
        password: this.form.password,
      })
        .then((response) => {
          setToken(response.data.user.token);
          API.addAuthorizationHeader();
          this.successAlert = true;
          setTimeout(() => {
            this.$router.push({ path: "/articles" });
            this.loadingButton = false;
            this.disabledButton = false;
          }, 2000);
        })
        .catch((error) => {
          this.loadingButton = false;
          this.disabledButton = false;
          let res = error.response.data.errors;
          const errorMessages = [];
          let resArray = Object.entries(res);
          for (let x = 0; x < resArray.length; x++) {
            errorMessages.push(resArray[x][0] + " " + resArray[x][1][0]);
          }
          this.errorMessage = errorMessages.join(" , ");
          this.errorAlert = true;
        });
    },
  },
};
</script>

<style scoped>
.main-body {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: left;
}
.login-body {
  background-color: #eceeef;
  min-height: 423px;
  margin: auto;
  padding: 37px 20px 19px;
  border-radius: 4px;
  width: 450px;
}
.login-title {
  font-size: 47px;
  color: #707070;
  text-align: center;
}
.submit-button {
  width: 100%;
  margin-top: 45px;
}
.subtitle-links {
  margin-top: 15px;
  font-size: 16px;
  color: #373a3c;
}
.register-link {
  font-weight: bold;
  color: #373a3c;
  margin-left: 10px;
}
.login-alert {
  position: fixed;
  top: 30px;
  right: 30px;
}
</style>
