<template>
  <div>
    <div class="articles-container">
      <h1 class="articles-title">All Posts</h1>
      <b-alert
        class="delete-alert"
        v-model="errorAlert"
        variant="danger"
        dismissible
      >
        {{ errorMessage }}
      </b-alert>
      <b-alert
        class="delete-alert"
        variant="success"
        dismissible
        v-model="successAlert"
        >Article deleted successfuly</b-alert
      >
      <b-alert
        class="delete-alert"
        variant="success"
        dismissible
        v-model="this.$store.state.articles.createStatus"
      >
        <b>Well Done! </b> Article created successfuly</b-alert
      >
      <b-alert
        class="delete-alert"
        variant="success"
        dismissible
        show
        v-model="this.$store.state.articles.editStatus"
      >
        <b>Well Done! </b>Article edited successfuly</b-alert
      >
      <b-row no-gutters align-h="start">
        <b-modal
          id="modal-center"
          ok-variant="danger"
          ok-title="YES"
          cancel-variant="outline-dark"
          cancel-title="NO"
          ref="deleteModal"
          @ok="deleteEntity(itemToDeleteId)"
          centered
          title="Delete Article"
        >
          <p class="my-4">Are you sure to delete Article?</p>
        </b-modal>
        <b-col sm="12" md="12" lg="12" xl="12">
          <b-table
            id="articles-table"
            hover
            table-variant="light"
            :items="items"
            :fields="fields"
            head-variant="light"
            class="text-left"
            stacked="lg"
            v-if="tableLoaded"
          >
            <template v-slot:cell(actions)="row">
              <b-dropdown :id="`dropdown-${row.index}`" variant="primary">
                <template v-slot:button-content>
                  <span class="mr-2">...</span>
                </template>
                <b-dropdown-item @click="goToEditPage(row.item)"
                  >Edit</b-dropdown-item
                >
                <b-dropdown-item
                  @click="addArticleId(row.index)"
                  v-b-modal.modal-center
                  >Delete</b-dropdown-item
                >
              </b-dropdown>
            </template>
            <template v-slot:table-busy>
              <div class="text-center text-danger my-2">
                <b-spinner class="align-middle" variant="primary"></b-spinner>
              </div>
            </template>
          </b-table>
          <div v-else class="spiner-container">
            <b-spinner variant="primary" label="Spinning"></b-spinner>
          </div>
          <b-row no-gutters align-h="center">
            <b-col sm="12" md="12" lg="12" xl="12" class="paging-container">
              <b-pagination
                :total-rows="rows"
                :per-page="perPage"
                hide-goto-end-buttons
                v-model="currentPage"
                align="center"
                page-class="pagination-button-container"
                aria-controls="articles-table"
                v-if="tableLoaded"
              />
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ArticleDataProvider from "../../services/article";
export default {
  data() {
    return {
      perPage: 10,
      currentPage: 1,
      itemToDeleteId: 0,
      errorAlert: false,
      successAlert: false,
      tableLoaded: false,
      errorMessage: "",
      fields: [
        {
          key: "index",
          label: "#",
        },
        {
          key: "title",
          label: "Title",
        },
        {
          key: "author",
          label: "Author",
        },
        {
          key: "tags",
          label: "Tags",
        },
        {
          key: "excerpt",
          label: "Excerpt",
        },
        {
          key: "created",
          label: "Created",
        },
        {
          key: "actions",
          label: "",
        },
      ],
    };
  },
  props: {
    createArticle: {
      type: Boolean,
    },
    editArticle: {
      type: Boolean,
    },
  },
  computed: {
    ...mapGetters({
      items: "articles/articles",
    }),
    rows() {
      return this.$store.state.articles.allArticles;
    },
  },
  methods: {
    destroyAlerts() {
      this.$store.commit("articles/setCreateStatus", false);
      this.$store.commit("articles/setEditStatus", false);
      this.$store.commit("articles/changeEditError", false);
      this.errorAlert = false;
      this.successAlert = false;
    },
    deleteEntity(index) {
      this.destroyAlerts();
      const targetSlug = this.items[index].slug;
      ArticleDataProvider.delete(targetSlug)
        .then(() => {
          this.successAlert = true;
          this.$store.commit("articles/deleteArticles", targetSlug);
          this.fetchPageData();
        })
        .catch((error) => {
          let res = error.response.data.errors;
          const errorMessages = [];
          let resArray = Object.entries(res);
          for (let x = 0; x < resArray.length; x++) {
            errorMessages.push(resArray[x][0] + " " + resArray[x][1][0]);
          }
          this.errorMessage = errorMessages.join(" , ");
          this.errorAlert = true;
        });
    },
    addArticleId(id) {
      this.itemToDeleteId = id;
    },
    goToEditPage(slug) {
      this.$router.push({ path: `/articles/edit/${slug.slug}` });
    },
    fetchPageData(currentPage) {
      let page;
      if (typeof currentPage === "number") {
        page = currentPage;
      } else {
        const currentRoute = this.$route.name;
        if (currentRoute === "articlePages") {
          page = parseInt(this.$route.params.page);
        } else {
          page = 1;
        }
        this.currentPage = page;
      }

      let offset = (page - 1) * 10;
      this.tableLoaded = false;
      ArticleDataProvider.getList({
        limit: 10,
        offset: offset,
      }).then((response) => {
        this.$store.commit("articles/addArticles", response.data.articles);
        this.tableLoaded = true;
        this.$store.commit(
          "articles/setAllArticles",
          response.data.articlesCount
        );
      });
    },
  },
  beforeMount() {
    ArticleDataProvider.getList({}).then((response) => {
      this.$store.commit(
        "articles/setAllArticles",
        response.data.articlesCount
      );
    });
  },
  mounted() {
    this.fetchPageData();
  },
  watch: {
    currentPage(page, oldPage) {
      if (page === oldPage) return;
      if (page === parseInt(this.$route.params.page)) return;

      if (page > 1) {
        this.$router.push({
          name: "articlePages",
          params: {
            page: `${page}`,
          },
        });
      } else {
        this.$router.push({ name: "Articles" });
      }
      this.fetchPageData(page);
    },
  },
  beforeDestroy() {
    this.$store.commit("articles/setCreateStatus", false);
    this.$store.commit("articles/setEditStatus", false);
  },
};
</script>

<style lang="scss" scoped>
.articles-container {
  padding: 25px 30px;
}
.articles-title {
  font-size: 40px;
  text-align: left;
  margin-bottom: 25px;
}
::v-deep .gray-bg {
  background-color: #eceeef;
}
.delete-alert {
  position: fixed;
  top: 90px;
  right: 30px;
}
@media screen and (max-width: 767px) {
  .delete-alert {
    position: fixed;
    top: 250px;
    right: 15px;
    z-index: +15;
  }
}
.spiner-container {
  margin-top: 300px;
  margin-bottom: 300px;
}
</style>
