<template>
  <div>
    <ArticlesComponent />
  </div>
</template>

<script>
import ArticlesComponent from "../components/articles/Articles";
export default {
  components: {
    ArticlesComponent,
  },
};
</script>

<style></style>
