<template>
  <div>
    <CreateArticle @submit="onSubmit" />
  </div>
</template>

<script>
import CreateArticle from "../components/articleForms/ArticleForms";
import ArticleDataProvider from "../services/article";
export default {
  components: {
    CreateArticle,
  },

  methods: {
    onSubmit(formData) {
      ArticleDataProvider.create(formData).then(() => {
        this.$store.commit("articles/setCreateStatus", true);
        this.$router.push({ path: "/articles" });
      });
    },
  },
};
</script>

<style></style>
