<template>
  <div>
    <EditArticle :initialValues="article" @submit="onSubmit" v-if="article" />
    <div v-else class="spiner-container">
      <b-spinner variant="primary" label="Spinning"></b-spinner>
    </div>
  </div>
</template>

<script>
import EditArticle from "../components/articleForms/ArticleForms";
import ArticleDataProvider from "../services/article";
import { mapState } from "vuex";
export default {
  components: {
    EditArticle,
  },
  data() {
    return {
      articleIsLoaded: false,
    };
  },
  computed: {
    ...mapState({
      article: (state) => state.articles.editingArticle,
    }),
  },
  methods: {
    onSubmit(formData) {
      ArticleDataProvider.update(
        this.$router.currentRoute.params.slug,
        formData
      )
        .then(() => {
          this.$store.commit("articles/setEditStatus", true);
          this.$router.push({ path: "/articles" });
        })
        .catch((error) => {
          this.$store.commit("articles/changeEditError", true);
          let res = error.response.data.errors;
          const errorMessages = [];
          let resArray = Object.entries(res);
          for (let x = 0; x < resArray.length; x++) {
            errorMessages.push(resArray[x][0] + " " + resArray[x][1][0]);
          }
          this.$store.commit("articles/setEditErrorMessage", errorMessages[0]);
          setTimeout(() => {
            this.$router.push({ path: "/articles" });
          }, 3000);
        });
    },
  },
  created() {
    this.$store.commit("articles/setEditingArticle", null);
  },
  beforeDestroy() {
    this.$store.commit("articles/changeEditError", false);
  },
  mounted() {
    const slug = this.$router.currentRoute.params.slug;
    ArticleDataProvider.getOne(slug).then((response) => {
      const res = response.data.article;
      this.$store.commit("articles/setEditingArticle", res);
    });
  },
};
</script>

<style>
.spiner-container {
  margin-top: 300px;
}
</style>
