<template>
  <div>
    <RegistrationComponent />
  </div>
</template>

<script>
import RegistrationComponent from "../components/registeration/RegistrationComponent";
export default {
  name: "Registration",
  components: {
    RegistrationComponent,
  },
};
</script>
