<template>
  <div>
    <div class="articles-container">
      <h1 class="articles-title">{{ pageTitle }}</h1>
      <div>
        <b-alert
          class="error-alert"
          variant="danger"
          dismissible
          v-model="this.$store.state.articles.editError"
          >{{ editErrorMessage }}</b-alert
        >
        <b-form>
          <b-row>
            <b-col class="form-inputs" xl="8" md="8" sm="12">
              <b-form-group
                id="title-input-group"
                label="Title"
                label-for="title-input"
              >
                <b-form-input
                  id="title-input"
                  name="title-input"
                  v-model="$v.form.title.$model"
                  :state="validateTitle('title')"
                  aria-describedby="title"
                ></b-form-input>

                <b-form-invalid-feedback id="title"
                  >Required field</b-form-invalid-feedback
                >
              </b-form-group>
              <b-form-group
                id="description-input-group"
                label="Description"
                label-for="description-input"
              >
                <b-form-input
                  id="description-input"
                  v-model="$v.form.description.$model"
                  :state="validateDescription('description')"
                  name="description-input"
                  aria-describedby="description-feedback"
                ></b-form-input>
                <b-form-invalid-feedback id="description"
                  >Required field</b-form-invalid-feedback
                >
              </b-form-group>
              <b-form-group>
                <label for="textarea">Body</label>
                <b-form-textarea
                  id="body-textarea"
                  v-model="$v.form.body.$model"
                  :state="validateBody('body')"
                  placeholder="Enter something..."
                  class="text-area"
                  no-resize
                ></b-form-textarea>
                <b-form-invalid-feedback id="body-textarea"
                  >Required field</b-form-invalid-feedback
                >
              </b-form-group>
              <b-button
                class="submit-button"
                @click="onSubmit"
                type="button"
                variant="primary"
                :disabled="$v.form.$invalid"
                >Submit</b-button
              >
            </b-col>
            <b-col xl="4" md="4" sm="12" class="text-left form-right-section">
              <b-form-group
                id="tag-input-group-1"
                label="Tags"
                label-for="input-1"
              >
                <b-form-input
                  id="tag-input-1"
                  v-model="newTag"
                  placeholder="Add New Tag"
                  @keyup.13.stop.prevent="addTag"
                ></b-form-input>
              </b-form-group>
              <b-form-group>
                <b-form-checkbox-group
                  id="article-tags-checkbox-group-1"
                  v-model="form.tagList"
                  :options="sortedTags"
                  name="tagList-1"
                  stacked
                  class="tags-container"
                  v-if="tagsLoaded"
                ></b-form-checkbox-group>
                <div v-else class="spiner-container">
                  <b-spinner
                    variant="primary"
                    type="grow"
                    label="Spinning"
                  ></b-spinner>
                </div>
              </b-form-group>
            </b-col>
          </b-row>
        </b-form>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";
import TagDataProvider from "../../services/tags";
export default {
  mixins: [validationMixin],
  props: ["initialValues"],
  data() {
    return {
      errorAlert: false,
      tagsLoaded: false,
      newTag: "",
      form: {
        title: "",
        body: "",
        description: "",
        tagList: [],
      },
      tags: [],
      newArticle: {
        tagList: [],
      },
    };
  },
  validations: {
    form: {
      title: {
        required,
      },
      description: {
        required,
      },
      body: {
        required,
      },
    },
  },
  methods: {
    validateTitle(title) {
      const { $dirty, $error } = this.$v.form[title];
      return $dirty ? !$error : null;
    },
    validateDescription(description) {
      const { $dirty, $error } = this.$v.form[description];
      return $dirty ? !$error : null;
    },
    validateBody(body) {
      const { $dirty, $error } = this.$v.form[body];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form = {
        title: null,
        description: null,
        body: null,
      };

      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        this.errorAlert = true;
        return;
      }
      this.$emit("submit", this.form);
    },
    addTag() {
      if (this.newTag.length) {
        this.tags.push(this.newTag);
        this.form.tagList.push(this.newTag);
      }
      this.newTag = "";
    },
  },
  computed: {
    pageTitle() {
      if (this.$router.currentRoute.name === "create") {
        return "New Article";
      } else {
        return "Edit Article";
      }
    },
    sortedTags() {
      let sortedArray = this.tags
        .slice()
        .map((tag) => tag.replace(/[\u200B-\u200D\uFEFF]/g, ""))
        .filter((tag) => Boolean(tag))
        .sort((a, b) => a.localeCompare(b));
      return sortedArray.filter((i) => Boolean(i));
    },
    editErrorMessage() {
      return (
        this.$store.state.articles.editErrorMessage +
        " (You are being redirected to articles page)"
      );
    },
  },
  mounted() {
    this.tagsLoaded = false;
    TagDataProvider.getList({}).then((response) => {
      this.tags = response.data.tags;
      this.tagsLoaded = true;
    });
    if (this.$props.initialValues) {
      this.form.title = this.$props.initialValues.title
        ? this.$props.initialValues.title
        : "";
      this.form.body = this.$props.initialValues.body
        ? this.$props.initialValues.body
        : "";
      this.form.description = this.$props.initialValues.description
        ? this.$props.initialValues.description
        : "";
      this.form.tagList = this.$props.initialValues.tagList
        ? this.$props.initialValues.tagList
        : "";
    }
  },
};
</script>

<style lang="scss" scoped>
.articles-container {
  padding: 25px 30px;
}
.articles-title {
  font-size: 40px;
  text-align: left;
  margin-bottom: 25px;
}
.form-inputs {
  text-align: left !important;
}
.submit-button {
  width: 100px;
  margin-top: 10px;
}
.login-alert {
  position: fixed;
  top: 30px;
  right: 30px;
}
.tags-container {
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 17px;
}
.spiner-container {
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  margin-top: 0;
}
.text-area {
  height: 300px !important;
}
.error-alert {
  position: fixed;
  top: 90px;
  right: 30px;
}
@media screen and (max-width: 767px) {
  .form-right-section {
    padding-top: 30px;
  }
  .error-alert {
    position: fixed;
    top: 90px;
    right: 15px;
    width: 300px;
    z-index: +15;
  }
}
</style>
