<template>
  <transition name="fade" mode="out-in">
    <div class="content-section">
      <router-view></router-view>
    </div>
  </transition>
</template>
<script>
export default {};
</script>
<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.content-section {
  margin-left: 250px;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .content-section {
    margin-left: 0px;
    margin-top: 240px;
  }
}
</style>
