<template>
  <div>
    <Sidebar></Sidebar>
    <TopNavbar></TopNavbar>
    <div class="col-md-12">
      <div class="row">
        <div class="col-12 p-0">
          <Content></Content>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Content from "@/layout/Content";
import Sidebar from "@/layout/Sidebar";
import TopNavbar from "@/layout/TopNavbar";
export default {
  components: {
    Content,
    Sidebar,
    TopNavbar,
  },
};
</script>

<style></style>
