<template>
  <div id="sidebar-container" class="sidebar-expanded">
    <b-list-group>
      <b-list-group-item>
        <span class="title">Posts</span>
        <b-list-group class="nested">
          <b-list-group-item to="/articles" exact class="links">
            <span class="content">All Articles</span>
          </b-list-group-item>
          <b-list-group-item exact to="/articles/create" class="links">
            <span class="content">New Article</span>
          </b-list-group-item>
        </b-list-group>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {},
  computed: {},
};
</script>

<style lang="scss">
#sidebar-container {
  top: 60px;
  position: fixed;
  min-height: 100vh;
  background-color: #1c7cd5;
  padding: 0;
  z-index: 10;
}

.sidebar-expanded {
  width: 250px;
}

.list-group-item {
  border: none;
  background: inherit;
  color: white;
  cursor: pointer;
  .title {
    font-size: 22px;
  }
  .content {
    font-size: 18px;
  }
}
.list-group {
  border-radius: 0;
  border: none;
  text-align: left;
  position: relative;
  &.nested {
    width: 100%;
  }
}
.list-group-item.active {
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0 -1.25rem;
  & .content {
    padding: 0 1.25rem;
  }
}
.list-group-item-action:hover,
.list-group-item-action:focus {
  background-color: rgba(255, 255, 255, 0.15) !important;
  color: white !important;
  width: 250px;
  margin: 0 -1.25rem;
  & .content {
    padding: 0 1.25rem;
  }
}
.router-link-active,
.router-link-exact-active {
  background-color: rgba(255, 255, 255, 0.15);
  width: 250px;
  margin: 0 -1.25rem;
  & .content {
    padding: 0 1.25rem;
  }
}
@media screen and (max-width: 767px) {
  .sidebar-expanded {
    width: 100%;
    min-height: 150px !important;
  }
  .links {
    width: 100% !important;
    margin: 0 !important;
  }
}
</style>
