<template>
  <div>
    <div class="top-nav-bar">
      <div class="header-title">
        <span class="page-title">Arvan Challenge</span>
        <span class="user-name">wellcome {{ userName }}</span>
      </div>
      <b-button @click="logOut" variant="outline-primary">Logout</b-button>
    </div>
  </div>
</template>

<script>
import UserDataProvider from "../services/user";
import { deleteToken } from "../services/jwt";
import API from "../services/api";

export default {
  data() {
    return {
      userName: "",
    };
  },
  methods: {
    logOut() {
      deleteToken();
      this.$router.push({ path: "/login" });
      API.removeAuthorizationHeader();
    },
  },
  mounted() {
    UserDataProvider.getOne()
      .then((response) => {
        this.userName = response.data.user.username;
      })
      .catch(() => {});
  },
};
</script>

<style>
.top-nav-bar {
  width: 100%;
  height: 60px;
  background-color: #373a3c;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
}
.header-title {
  color: white;
}
.page-title {
  font-size: 22px;
}
.user-name {
  font-size: 16px;
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .top-nav-bar {
    min-height: 60px;
  }
  .page-title {
    font-size: 18px;
    font-weight: bold;
  }
  .user-name {
    font-size: 14px;
    margin-left: 20px;
  }
}
</style>
